@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.setButton {
  width: 300px;
  height: 40px;
}


.setButtonSelected {
  width: 300px;
  height: 40px;
  color: blue;
}